body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: #09389D;
}

h2 {
    text-align: center;
    color: #526AE7;
}

#headers {
    padding-top: 2.5%;
}

.signup_border {
    border-radius: 10px;
    background: #ffffff;
    width: 25vw;
    height: 50%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    justify-content: center;
    background-color: red;
}

#signup_form {
    display: flex;
    flex-direction: column;
    justify-content: center space-evenly;
    
    row-gap: 10px;
}

.signup_input {
    width: 17.5vw;
}

#submit {
    width: 50%;
    align-self: center;
}

.form_element {
    display: grid;
}